.Sidebar {
    list-style-type: none;
    background-color: #1307ff;
    height: 100vh;
}

.Sidebar li {
    color: #ffff;
    padding: 20px 10px;
}

.Sidebar li a:hover  {
    border-bottom: 3px solid #ffff;
    transition: 0.25s;
}

.Sidebar li a {
    text-decoration: none;
    color: #ffff;
    padding: 0 0 10px 0;
}

.Sidebar li svg {
    font-size: 23px;
}

.active {
    border-bottom: 3px solid #ffff;
}